<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>KeszletListazas</servlet-name>
        <servlet-class>myservlets.KeszletListazas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UjTermek</servlet-name>
        <servlet-class>myservlets.UjTermek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Torles</servlet-name>
        <servlet-class>myservlets.Torles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eladas</servlet-name>
        <servlet-class>myservlets.Eladas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Beszerzes</servlet-name>
        <servlet-class>myservlets.Beszerzes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JelentesListazas</servlet-name>
        <servlet-class>myservlets.JelentesListazas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KeszletListazas</servlet-name>
        <url-pattern>/KeszletListazas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UjTermek</servlet-name>
        <url-pattern>/UjTermek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Torles</servlet-name>
        <url-pattern>/Torles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eladas</servlet-name>
        <url-pattern>/Eladas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Beszerzes</servlet-name>
        <url-pattern>/Beszerzes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JelentesListazas</servlet-name>
        <url-pattern>/JelentesListazas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
